snippet book
	@BOOK{${0:title},
		title  = {,
		author = {},
		url    = {},
		month  = {},
		year   = {},
		note   = {}
	}

snippet web
	@BOOK{${0:title},
		title  = {},
		author = {},
		url    = {},
		month  = {},
		year   = {},
		note   = {accessed \textsuperscript{th}, 2015}
	}
