snippet rco
	= react_component('molecules/${1}')
snippet h1
	%h1
snippet h2
	%h2
snippet h3
	%h3
snippet h4
	%h4
snippet h5
	%h5
snippet h6
	%h6
snippet p
	%p
snippet dl
	%dl
snippet dt
	%dt
snippet dd
	%dd
snippet a
	%a
snippet ul
	%ul
snippet li
	%li
snippet span
	%span
snippet t
	t('${0}')
snippet img
	%img{ src: }
snippet picsum
	https://picsum.photos/id/237/200/300
